{% extends "front/layout.html" %}

{% load static %}

{% block body %}

    <main>
      <div class="row mt-4">
        <h5 class="col-md-3 about mx-auto">Learner Testimonials</h5>
      </div>
      <div class="row d-flex justify-content-around m-4">
        <!-- Used cards -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'front/images/TM.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tumelo Motsugi</h5>
            <p class="card-text">It was my immense luck and fortune to be the part of the academy where I can grow. The entire stuff leaves no stone unturned to shape one\'s future.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'front/images/KN.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Khuts'o Nalana</h5>
            <p class="card-text">In my experience all the tutors are very supportive and friendly and the placement and learning processes has been very smooth throughout.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'front/images/male.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tshepo Tladi</h5>
            <p class="card-text">I thank NMA & its staff for putting in all the efforts to groom us and make us ready for tertiary university.
            </p>
          </div>
        </div>
      </div>
    </main>
    
{% endblock %}