{% extends "front/layout.html" %}

{% load static %}

{% block body %}
  <div class="card m-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-7">
              <img src="{% static 'front/images/b2.jfif' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h5 class="card-title">Winter School</h5>
                <p class="card-text">From 15 June 2024</p>
                <p class="card-text"><small class="text-body-secondary">Healing center church</small></p>
                <p class="card-text"><small class="text-body-secondary">R170</small></p>
                <p class="card-text"><small class="text-body-secondary">All students invited</small></p>
              </div>
          </div>
        </div>
      </div>

{% endblock %}