{% extends "front/layout.html" %}

{% load static %}

{% block body %}
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="{% static 'front/images/slide1.jpg' %}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>NMA Motto</h5>
          <p>At Nyathi Maths Academy, we believe every child has a potential to excel and thrive.</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="{% static 'front/images/slide2.jpg' %}" class="d-block w-100 c-img" alt="Image">
        <div class="carousel-caption d-none d-md-block">
          <h5>Our Teaching Model</h5>
          <p>Ours is hybrid learning; 70% face to face, 30% online. </p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="{% static 'front/images/slide3.jpg' %}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Credentials</h5>
          <p>More than 5 years of excellence. 97% of learners above 65% pass mark.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>    

  <div class="row m-2">
      <div class="col-md-3 about mx-auto">
        <h1 class="text-center">About NMA</h1>
        <p class="text-center">We are a maths tutoring organization.</p>
      </div>
  </div>

  <div class="row mb-4">
    <div id="London" class="tabcontent">
      <h1>Subjects</h1>
      <p>Mathematics/Lit/Tech</p>
      <p>Physical Sciences/Tech</p>
      <p>Life Science</p>
      <p>Acounting</p>
      <p>Natural Sciences</p>
      <p>Economic and Management Science</p>
    </div>

    <div id="Paris" class="tabcontent">
      <h1>Fees</h1>
      <h5>Registration Fee</h5>
      <p>R400 Annually</p>
      <h5>Grade [10,11,12]</h5>
      <p>Mathematics/Lit/Tech - R300 Monthly Or R3300 Annually</p>
      <p>Physical Sciences/Tech - R200 Monthly Or R2200 Annually</p>
      <p>Life Science - R100 Monthly Or R1100 Annually</p>
      <p>Acounting - R200 Monthly Or R2200 Annually</p>
      <h5>Grade [8&9]</h5>
      <p>- R500 for 3 subjects [Maths, N.S & EMS] Monthly Or R5500 Annually</p>
      <h5>One on One Sessions</h5>
      <p>R150 per hour</p>
    </div>

    <div id="Tokyo" class="tabcontent">
      <h1>Sessions</h1>
      <p>Monday to Friday: 11am to 5:30pm</p>
      <p>Saturday: 8am to 1pm</p>
    </div>

    <div id="Oslo" class="tabcontent">
      <h1>Contacts</h1>
      <h5>Phone Numbers</h5>
      <p>Phone number: 073 607 3842</p>
      <h5>Vanue</h5>
      <p>International Christian Church</p>
      <p>14617 Mduduzi Street</p>
      <p>Kwa-Thema, Ext 2</p>
      <p>Springs 1575</p>
    </div>

    <button class="tablink" style="background-color:red;" onclick="openCity('London', this, 'red')" id="defaultOpen">
      Subjects
    </button>
    <button class="tablink" style="background-color:green;" onclick="openCity('Paris', this, 'green')">
      Fees
    </button>
    <button class="tablink" style="background-color:blue;" onclick="openCity('Tokyo', this, 'blue')">
      Classes
    </button>
    <button class="tablink" style="background-color:orange;" onclick="openCity('Oslo', this, 'orange')">
      Contacts
    </button>
  </div>

  <div class="mt-5">
    <h6>The Best</h6>
  </div>
    
{% endblock %}